<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cookies_Loader_Base.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Cookies_Loader_Base.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Cookies_Loader_Base.Properties.Settings>
            <setting name="Account_Created" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Account_Level" serializeAs="String">
                <value>1</value>
            </setting>
        </Cookies_Loader_Base.Properties.Settings>
        <Cookies_Loader_Base.Settings1>
            <setting name="nameS" serializeAs="String">
                <value>Username</value>
            </setting>
            <setting name="passwordS" serializeAs="String">
                <value>Password</value>
            </setting>
        </Cookies_Loader_Base.Settings1>
    </userSettings>
</configuration>